node_modules
tmp
.init

# dev
.vscode
.copilotignore
.github/instructions
.github/prompts
.github/copilot-instructions.md
.cursorignore
.cursorrules

# env
.setup/environment/.env


# to be enabled
lib
src
project
